USE [master]
GO
/****** Object:  Database [LPS]    Script Date: 24 Okt 2024 14:00:41 ******/
CREATE DATABASE [LPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LPS]
GO
/****** Object:  Table [dbo].[Produk]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama_Barang] [varchar](200) NOT NULL,
	[Kode_Barang] [varchar](50) NOT NULL,
	[Jumlah_Barang] [int] NOT NULL,
	[Tanggal] [datetime] NOT NULL,
 CONSTRAINT [PK_Produk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddNewProduct]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[AddNewProduct]
@Nama_Barang varchar(200),
@Kode_Barang varchar(50),
@Jumlah_Barang int,
@Tanggal datetime
AS
BEGIN
	INSERT INTO dbo.Produk
		(
			Nama_Barang,
			Kode_Barang,
			Jumlah_Barang,
			Tanggal
		)
    VALUES
		(
			@Nama_Barang,
			@Kode_Barang,
			@Jumlah_Barang,
			@Tanggal
		)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProductByID]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteProductByID]
@ProductId int
AS
BEGIN
	DELETE FROM dbo.Produk WHERE Id = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductByID]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetProductByID]
@ProductId bigint
AS
BEGIN
	SELECT Id, Nama_Barang, Kode_Barang, Jumlah_Barang, Tanggal FROM dbo.Produk WHERE Id = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductList]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetProductList]
AS
BEGIN
	SELECT Id, Nama_Barang, Kode_Barang, Jumlah_Barang, Tanggal FROM dbo.Produk
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 24 Okt 2024 14:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpdateProduct]
@Nama_Barang varchar(200),
@Kode_Barang varchar(50),
@Jumlah_Barang int,
@Tanggal datetime
AS
BEGIN
	UPDATE dbo.Produk
    SET
		Nama_Barang = @Nama_Barang,
		Kode_Barang = @Kode_Barang,
		Jumlah_Barang = @Jumlah_Barang,
		Tanggal = @Tanggal
	WHERE Nama_Barang = @Nama_Barang
END
GO
USE [master]
GO
